@import '../../variables.scss';

.container {
  display: flex;
  background-color: $quaternary;
  border-radius: 0.5em;
  margin: 5px;

  &-loggeduser {
    background-color: $tertiary;
    align-self: flex-end;
  }
}

.text {
  font-size: calc(#{$fontXxs} / 1.2);
  padding: 5px 5px 20px;
  display: block;
  max-width: 350px;
}

.time {
  font-size: calc(#{$fontXxs} / 1.5);
  color: $grey300;
  align-self: flex-end;
  padding: 5px;
}
